@model UserTextDataApi.Data.UserData

@{
    ViewData["Title"] = "Create";
}


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-controller="ShowData" asp-action="CreatePost" method="post">
        <input type="text" name="text" required/>
        <label>Text</label>
        <input type="submit"/>
    </form>
</div>
</body>
</html>