@model (int, string)

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-controller="ShowData" asp-action="EditPost" method="post">
        <input type="text" name="text" value="@Model.Item2" required/>
        <input type="number" name="id" hidden="hidden" value="@Model.Item1"/>
        <label>Text</label>
        <input type="submit"/>
    </form>
</div>
</body>
</html>