@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Client.Models
@using SafeRouting.TagHelpers
@model UserData?

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.succeeded is false)
{
    await Html.RenderPartialAsync("ShowPopUp");
}

<h1>Index</h1>
<a for-route="Routes.Controllers.ShowData.Create()">Create New</a>
<a for-route="Routes.Controllers.ShowData.DeleteAll()">Delete All</a>
<table>
    <tr>
        <th>Text</th>
        <th>TextId</th>
        <th>UserId</th>
        <th>Edit</th>
    </tr>

    @for (int i = 0; Model is not null && i < Model.Texts.Count; i++)
    {
        <tr>
            <td>@Model.Texts[i].TextValue</td>
            <td>@i</td>
            <td>@Model.Id</td>
            <td>
                <a for-route="Routes.Controllers.ShowData.Edit(Model.Texts[i].Id, Model.Texts[i].TextValue)">Edit</a>
            </td>
            <td>
                <a for-route="Routes.Controllers.ShowData.Delete(Model.Texts[i].Id)">Delete</a>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script defer>
        $('.pop-up span').click(function() {
                    $('.pop-up').hide(0);
                });
    </script>
}