@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model UserTextDataApi.Data.UserData?

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a for-route="Routes.Controllers.ShowData.Create()">Create New</a>
<table>
  <tr>
      <th>Text</th>
      <th>TextId</th>
      <th>UserId</th>
      <th>Edit</th>
  </tr>
  
  @for (int i = 0; Model is not null && i < Model.Texts.Count; i++)
  {
      <tr>
          <td>@Model.Texts[i].textValue</td>
          <td>@i</td>
          <td>@Model.Id</td>
          <td><a for-route="Routes.Controllers.ShowData.Edit(@i, @Model.Texts[i].textValue)">Edit</a></td>
      </tr>
  }
</table>
