@{
    Layout = null;
}

<div class="pop-up">
  <span 
    onClick="this.parentElement.hide(0);"
  >x</span>
  <div class="pop-up-text">
    <h1>Heading 1</h1>
    <p>Encountered some unexpected error.</p>
  </div>
</div>


<style>
    .pop-up {
      height:auto;
      width:60%;
      margin-right: 5vw;
      margin-left: 5vw;
      background:#fff;
      position:relative;
      z-index:1;
      border-radius:5px;
      box-shadow:0 0 20px #000;
    }
    .pop-up-container{
      height:100vh;
      width:100%;
      background:#000;
      opacity:.5;
      position:relative;
      z-index:-1;
      margin-top:-500px;
    }
    span {
      border-radius:3em;
      margin-left:95%;
      background:#212121;
      color:#fff;
      font-size:1.25em;
      padding:.4em .7em;
      cursor:pointer;
    }
    .pop-up-text {
      box-sizing:border-box;
      padding:20px;  
    }
    .pop-up-text h1{
      font-size:2em;
    	font-weight:bold;
      margin-bottom:20px;
    	color:#212121;
    }
    .pop-up-text p{
      font-size:1em;
      margin-bottom:1em;
    }
    .pop-up-text a {
      color:#FF3D3D;
      margin-bottom:10px;
    }
    .pop-up-text img {
      max-height:250px;
      width:100%;
      text-align:center;
      margin-bottom:10px;
    }
</style>